@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-tap-highlight-color: transparent;
  /* cursor: none !important; */
}

* {
  /* cursor: none !important; */
}

::-webkit-scrollbar {
  width: 0;
}

.banner-height {
  height: calc(100vh - 112px);
}

.gradientText {
  background-image: linear-gradient(132deg, white, rgba(255, 255, 255, 0.4));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: max-content; */
}

/* 
.bg-gradient-test {
  backdrop-filter: blur(10px);
}

.snapscroll {
  min-height: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(0px);
  scroll-snap-type: y mandatory;
} */

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  transform-origin: bottom;
  z-index: 20000;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  transform-origin: top;
  z-index: 20000;
}

.cursor-dot {
  width: 3px;
  height: 3px;
  background-color: white;
  z-index: 56;
  transition: 50ms;
}

.cursor-outline {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.711);
  backdrop-filter: blur(5px);
  z-index: 55;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

Link {
  outline: none;
}

a {
  outline: none !important;
}

.animate-scroll {
  height: 2px;
  width: 150px;
  animation: scrollanimate 2s infinite cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes scrollanimate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.link {
  background:
    linear-gradient(to right,
      rgba(255, 255, 255, 0.7),
      rgb(255, 255, 255, 0.7)),
    linear-gradient(to right,
      rgb(38, 83, 103),
      rgb(146, 148, 137),
      rgb(152, 197, 210),
      rgb(186, 186, 141),
      rgb(218, 164, 104),
      rgb(230, 123, 96));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.link:hover {
  background-size: 0 3px, 100% 3px;
}

.custom h1 {
  font-size: 32px;
}

.custom h2 {
  font-size: 24px;
}

.custom h3 {
  font-size: 18.72px;
}

.custom h4 {
  font-size: 16px;
}

.custom h5 {
  font-size: 13.28px;
}

.custom h6 {
  font-size: 12px;
}


.team-gradient-radial {
  background: rgb(38, 83, 103);
  background: -moz-radial-gradient(circle, rgba(38, 83, 103, 1) 0%, rgba(152, 197, 210, 1) 19%, rgba(146, 148, 137, 1) 41%, rgba(186, 186, 141, 1) 63%, rgba(218, 164, 104, 1) 84%, rgba(230, 123, 96, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(38, 83, 103, 1) 0%, rgba(152, 197, 210, 1) 19%, rgba(146, 148, 137, 1) 41%, rgba(186, 186, 141, 1) 63%, rgba(218, 164, 104, 1) 84%, rgba(230, 123, 96, 1) 100%);
  background: radial-gradient(circle, rgba(38, 83, 103, 1) 0%, rgba(152, 197, 210, 1) 19%, rgba(146, 148, 137, 1) 41%, rgba(186, 186, 141, 1) 63%, rgba(218, 164, 104, 1) 84%, rgba(230, 123, 96, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#265367", endColorstr="#e67b60", GradientType=1);
}

.team-gradient-linear {
  background: rgb(38, 83, 103);
  background: -moz-linear-gradient(90deg, rgba(38, 83, 103, 1) 0%, rgba(152, 197, 210, 1) 19%, rgba(146, 148, 137, 1) 41%, rgba(186, 186, 141, 1) 63%, rgba(218, 164, 104, 1) 84%, rgba(230, 123, 96, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(38, 83, 103, 1) 0%, rgba(152, 197, 210, 1) 19%, rgba(146, 148, 137, 1) 41%, rgba(186, 186, 141, 1) 63%, rgba(218, 164, 104, 1) 84%, rgba(230, 123, 96, 1) 100%);
  background: linear-gradient(90deg, rgba(38, 83, 103, 1) 0%, rgba(152, 197, 210, 1) 19%, rgba(146, 148, 137, 1) 41%, rgba(186, 186, 141, 1) 63%, rgba(218, 164, 104, 1) 84%, rgba(230, 123, 96, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#265367", endColorstr="#e67b60", GradientType=1);
}


.scroll-text-container {
  width: 100%;
  overflow: hidden;
}

.scroll-text {
  white-space: nowrap;
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.card-container {
  display: flex;
  animation: scrollCards 10s linear infinite;
}

.card {
  width: 200px;
  height: 200px;
  margin: 1px;
  background-color: #f0f0f0;
 overflow: hidden;
}

@keyframes scrollCards {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}